<div *ngIf="dataLoaded == false" class="d-flex justify-content-center align-items-center">
  <div class="spinner-border custom-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container">
    
    <table class="table table-hover table-light custom-table ">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Customer Name</th>
          <th scope="col">Product Name</th>
          <th scope="col">Customer Address</th>
          <th scope="col">Customer PhoneNumber</th>
          <th scope="col">Customer Email</th>
          <th scope="col">Order Date</th>
          <th scope="col">Ship Date</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderReport of orderReports">
          <th scope="row">{{ orderReport.orderId }}</th>
          <td>{{ orderReport.customerName }}</td>
          <td>{{ orderReport.productName }}</td>
          <td>{{ orderReport.customerAddress }}</td>
          <td>{{ orderReport.customerPhoneNumber }}</td>
          <td>{{ orderReport.customerEmail }}</td>
          <td>{{ orderReport.orderDate }}</td>
          <td>{{ orderReport.shipDate }}</td>
          <td>{{ orderReport.orderStatus }}</td>
          <td class="action-buttons">
            <i class="fa fa-pencil-alt text-warning fa-lg mx-4" ></i>
            <i class="fa fa-trash text-danger fa-lg mx-3"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>