<div *ngIf="dataLoaded == false" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border custom-spinner" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  <div class="container">
      
      <table class="table table-hover table-light custom-table ">
        <thead>
          <tr class="align-middle">
            <th scope="col">User Id</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
          </tr>
        </thead>    
        <tbody>
          <tr class="align-middle" *ngFor="let userOperationAssignment of userOperationAssignments">
            <td class="fw-bold">{{ userOperationAssignment.userId }}</td>
            <td>{{ userOperationAssignment.operationClaimName }}</td>
            <td class="custom-td">{{ userOperationAssignment.email }}</td>
            <td>{{ userOperationAssignment.firstName }}</td>
            <td>{{ userOperationAssignment.lastName }}</td>
            <td class="custom-td">{{ userOperationAssignment.phoneNumber }}</td>
            <td>  
                <i class="fa fa-pencil-alt text-warning fa-lg mx-3" ></i>
                <i class="fa fa-trash text-danger fa-lg mx-3"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>