<div *ngIf="dataLoaded == false" class="d-flex justify-content-center align-items-center">
  <div class="spinner-border custom-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container">
    
    <table class="table table-hover table-light custom-table ">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Warehouse Name</th>
          <th scope="col">Warehouse Location</th>
          <th scope="col">Product Name</th>
          <th scope="col">Stock Quantity</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventoryReport of inventoryReports">
          <th scope="row">{{ inventoryReport.inventoryId }}</th>
          <td>{{ inventoryReport.warehouseName }}</td>
          <td>{{ inventoryReport.warehouseLocation }}</td>
          <td>{{ inventoryReport.productName }}</td>
          <td>{{ inventoryReport.stockQuantity }}</td>
          <td class="action-buttons">
            <i class="fa fa-pencil-alt text-warning fa-lg mx-4" ></i>
            <i class="fa fa-trash text-danger fa-lg mx-3"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>