<div *ngIf="dataLoaded == false" class="d-flex justify-content-center align-items-center">
  <div class="spinner-border custom-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container">
    
    <table class="table table-hover table-light custom-table ">
      <thead>
        <tr class="align-middle">
          <th scope="col"></th>
          <th scope="col">Warehouse Name</th>
          <th scope="col">Warehouse Location</th>
          <th scope="col">Product Name</th>
          <th scope="col">Stock Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle" *ngFor="let inventoryReport of inventoryReports">
          <th  scope="row">{{ inventoryReport.inventoryId }}</th>
          <td>{{ inventoryReport.warehouseName }}</td>
          <td>{{ inventoryReport.warehouseLocation }}</td>
          <td>{{ inventoryReport.productName }}</td>
          <td>{{ inventoryReport.stockQuantity }}</td>
      </tbody>
    </table>
  </div>